# This "main.yml" file is a role, which one can recognize because:
# 1. It does not have any dashes up top.
# 2. Its top-level entries invoke "tasks" or "blocks" of tasks (in this case, just tasks).
#    (To be specific:  it invokes two tasks, back-to-back, in order from top to bottom of the file.)
#    (A full list of built-in tasks available when using Ansible Core
#        is at https://docs.ansible.com/ansible/latest/collections/ansible/builtin/index.html#plugin-index)

# Within the playbook, this "Folder write and validate" list item invokes a "block," which one can recognize because:
# 1. It does not contain any "hosts", "tasks", or "roles" properties.
# 2. It contains a "block" property.
- name: "File or folder validate"
  block:
    # Within the "validate" block, we break into two more blocks:  "Linux" and "Windows."
    - name: "Linux"
      when: ansible_facts['os_family'] != 'Windows'
      block:
        # Within the playbook, this "Query file/folder status" list item invokes a "task," which one can recognize because:
        # 1. It does not contain any "hosts", "tasks", "roles," or "block" properties.
        - name: 'READ:  Query "{{ fsexistsrole__param_path }}" file/folder status.  (If Linux)'
          ansible.builtin.stat:
            path: "{{ fsexistsrole__param_path }}"
          register: "stat_param_path_linux"
        # Within the playbook, this "Assert that the file/folder exists" list item invokes a "task," which one can recognize because:
        # 1. It does not contain any "hosts", "tasks", "roles," or "block" properties.
        - name: 'READ:  Assert that a file/folder named "{{ fsexistsrole__param_path }}" exists.  (If Linux)'
          ansible.builtin.assert:
            that:
              - "stat_param_path_linux.stat.exists"
            fail_msg: '"{{ fsexistsrole__param_path }}" does not exist but should.'
            success_msg: '"{{ fsexistsrole__param_path }}" exists.  Well done.'
    - name: "Windows"
      when: ansible_facts['os_family'] == 'Windows'
      block:
        # We also have to duplicate our implementation logic for Windows.  Sigh.
        - name: 'READ:  Query "{{ fsexistsrole__param_path }}" file/folder status.  (If Windows)'
          ansible.windows.win_stat:
            path: "{{ fsexistsrole__param_path }}"
          register: "stat_param_path_windows"
        - name: 'READ:  Assert that a file/folder named "{{ fsexistsrole__param_path }}" exists.  (If Windows)'
          ansible.builtin.assert:
            that:
              - "stat_param_path_windows.stat.exists"
            fail_msg: '"{{ fsexistsrole__param_path }}" does not exist but should.'
            success_msg: '"{{ fsexistsrole__param_path }}" exists.  Well done.'
